
*{
    font-family: 'PT Sans', sans-serif;
  }

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

nav img {
    width: 25%;
    height: 80%;
}

nav h1 {
    text-align: left;
    width: 75%;
    height: 50%;
}
#wrapper {
    display: block;
    text-align: center;
    max-width: 100%;
}

#wrapper table {
    display: inline-block;
    width: 100%;
}

#wrapper table tr td{
    width: 20%;
    text-align: center;
}