
*{
    font-family: 'PT Sans', sans-serif;
  }

#header {
    display: flex;
    width: 100%;
}

#logo{
    margin: auto;
    width: 30%;
    text-align: center;
   
}

#headTitle {
    width: 70%;
    padding-left: 5%;
    vertical-align: middle;
    
}

#wrapper {
    display: block;
    text-align: center;
    max-width: 100%;
}

.tableTitle{
    
    background-color: red;
}

.tableHeaders {
    display: flex;
    width: 80%;
}

.tableRow {
    display: flex;
    
}

.tableHeaders div {
    font-weight: bold;
    width: 25%;
}


.tableRow div {
    width: 20%;
    
}

