
* {
    
    font-family: 'PT Sans', sans-serif;
    
}
  

body {
    background-color: #e5e7ea;
}

#header {
    position: static;
    display: inline-flex;
    width: 100%;
    height: 80px;
    margin-top: -08px;
    box-shadow:0px 6px 6px 0px #000000;
    background-color: #fff;
    justify-content: space-around;
}

#logo{
    margin: auto;
    flex-grow: 1;
    text-align: center;
    
}

#headTitle {
    flex-grow: 3;
    text-align: center;
    vertical-align: middle;
   
    
}
#blank {
    flex-grow: 2;
   
}


#monitorLeft{
    flex-grow: 4;
    margin: 0px 5px;
}

#monitorRight{
    flex-grow: 7;
    margin: 0px 5px;
}
.tableTitle{
    background-color: #434951;
    color:#cc9f30;
}

.tableHeaders {
    border: 2px solid black ;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tableHeaders div {
    /* border: 2px solid black ; */
    font-weight: bold;
    /* flex-grow: 1; */
    flex-basis: 20%;
    
}

.tableRow {
    display: flex;
    justify-content: space-around;

}


.tableRow div {
    width: 20%;
     flex-grow: 1;
     border: .5px solid black ;
     font-size: 12px;
    
}

.run{
    color: green;
}

.ok {
    color: blue;
    
} 

.error {
    color: red;
    animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { color: #F00; }
    50% { color: black; }
    to { color: #F00; }
}



#graphic{
    align-content: center;
}

#graphTile {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* MediaQeurys para pantallas de mas de 1300 px de ancho */
@media (min-width: 1000px){
    #wrapper {
        display: inline-flex;
        text-align: center;
        width: 100%;
    }
    
}




