<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/main.css">
        <title>Monitoreo Siebel izzi</title>
    </head>
    <body>
        <!--Encabezado-->
        <div id="header">
            <div id="logo">
                <img src="../static/izzi-dark.svg" alt=""/>
            </div>
            <div id="headTitle">
                <h1>Monitoreo Siebel izzi</h1>
            </div>
        </div>
        <div id=wrapper>
            <div id="monitorizq" >
                <div id="servers">
                    <div class="tableTitle">
                        <h2>Servidores</h2>
                    </div>
                    <div id="serverData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Estatus</div>
                            <div>PID</div>
                            <div>Fecha de Inicio</div>
                        </div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div id="components">
                    <div class="tableTitle">
                        <h2>Componentes</h2>
                    </div>
                    <div id="componentData">
                        <div>
                            <div >Servidor</div>
                            <div>Componente</div>
                            <div>Estatus</div>
                            <div>Task ID</div>
                        </div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>

                </div>
                <div id="gauge">

                </div>
            </div>
            <div id="monitorder">

            </div>
        </div>
    </body>
</html>