<!DOCTYPE html>
<html lang="en">
    <head>
        <!---------------------Division de Pantalla Lado Izquierdo------------------------------->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
        <title>Monitoreo Siebel izzi</title>
    </head>
    <body>
        <!-------------------------Contenedor del encabezado------------------------>
        <div id="header">
                <div id="logo">
                    <img src="{{ url_for('static', filename='izzi-dark.svg')}}" alt="izzi logo dark">
                </div>
                <div id="headTitle">
                    <h1>Monitoreo Siebel izzi</h1>
                </div>
                <div id="blank"></div>
        </div>
        <div id=wrapper>
            <!---------------------Division de Pantalla Lado Izquierdo------------------------------->
            <div id="monitorLeft" >
                <!---------------------Seccion de Monitoreo Servidores------------------------------->
                <div id="servers">
                    <div class="tableTitle">
                        <h2>Servidores</h2>
                    </div>
                    <div id="serverData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Estatus</div>
                            <div>PID</div>
                            <div>Fecha de Inicio</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            {% if serverData1[2] == 'Ejecutando' %}
                                <div>{{serverData1[2]}}  <i class="fas fa-circle run"></i></div>
                                {% elif serverData1[2] == 'Activado' %}
                                    <div>{{serverData1[2]}}  <i class="fas fa-circle ok"></i></div>
                                    {% else %}
                                        <div>{{serverData1[2]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %}                                
                            <div>{{serverData1[1]}}</div>
                            <div>{{serverData1[3]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData2[0]}}</div>
                            {% if serverData2[2] == 'Ejecutando' %}
                                <div>{{serverData2[2]}}  <i class="fas fa-circle run"></i></div>
                                    {% elif serverData2[2] == 'Activado' %}
                                    <div>{{serverData2[2]}}  <i class="fas fa-circle ok"></i></div>
                                    {% else %}
                                        <div>{{serverData2[2]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %}                                
                            <div>{{serverData2[1]}}</div>
                            <div>{{serverData2[3]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData3[0]}}</div>
                            <div>{{serverData3[2]}}  <i class="fas fa-circle error"></i></div>
                            <div>{{serverData3[1]}}</div>
                            <div>{{serverData3[3]}}</div>
                        </div>                    
                    </div>
                </div>
                <!---------------------Seccion de Monitoreo de Componentes--------------------------->
                <div id="components">
                    <div class="tableTitle">
                        <h2>Componentes</h2>
                    </div>
                    <div id="componentData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>Estatus</div>
                            <div>Current Tasks</div>
                        </div>
                        <div class="tableRow">
                            <div>{{componentData1[0]}}</div>
                            <div>{{componentData1[1]}}</div>
                            <div>{{componentData1[6]}}</div>
                            <div>{{componentData1[9]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{componentData2[0]}}</div>
                            <div>{{componentData2[1]}}</div>
                            <div>{{componentData2[6]}}</div>
                            <div>{{componentData2[9]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{componentData3[0]}}</div>
                            <div>{{componentData3[1]}}</div>
                            <div>{{componentData3[6]}}</div>
                            <div>{{componentData3[9]}}</div>
                        </div>                    
                    </div>
                </div>
                <!---------------------Seccion de Monitoreo de Graficas------------------------------>
                <div id="gauge">
                    <div class="tableTitle">
                        <h2>Sesiones Maximas</h2>
                    </div>
                    <div>
                        <embed src="{{graph_data|safe}}" type="image/svg+xml" id="graphic">
                    </div>
                </div>
            </div>
            <!---------------------Division de Pantalla Lado Derecho------------------------------->
            <div id="monitorRight">
                <!---------------------Division de Pantalla Lado Derecho------------------------------->
                 <div id="Tasks">
                    <div class="tableTitle">
                        <h2>Tareas</h2>
                    </div>
                    <div id="taskData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>TaskID</div>
                            <div>PID</div>
                            <div>Estatus</div>
                            <div>Fecha</div>
                            <div>Operacion</div>
                        </div>
                        <div class="tableRow">
                            <div>{{taskData1[0]}}</div>
                            <div>{{taskData1[1]}}</div>
                            <div>{{taskData1[2]}}</div>
                            <div>{{taskData1[3]}}</div>
                            <div>{{taskData1[4]}}</div>
                            <div>{{taskData1[5] + ' ' + taskData1[6]}}</div>
                            <div>{{taskData1[9] + ' ' + taskData1[10]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{taskData2[0]}}</div>
                            <div>{{taskData2[1]}}</div>
                            <div>{{taskData2[2]}}</div>
                            <div>{{taskData2[3]}}</div>
                            <div>{{taskData2[4]}}</div>
                            <div>{{taskData2[5] + ' ' +  taskData2[6]}}</div>
                            <div>{{taskData2[9] + ' ' +  taskData2[10]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{taskData3[0]}}</div>
                            <div>{{taskData3[1]}}</div>
                            <div>{{taskData3[5]}}</div>
                            <div>{{taskData3[6]}}</div>
                            <div>{{taskData3[7]}}</div>
                            <div>{{taskData3[8] + ' ' +  taskData3[9]}}</div>
                            <div>{{taskData3[12] + ' ' +  taskData3[13]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{taskData4[0]}}</div>
                            <div>{{taskData4[1]}}</div>
                            <div>{{taskData4[2]}}</div>
                            <div>{{taskData4[3]}}</div>
                            <div>{{taskData4[4]}}</div>
                            <div>{{taskData4[5] + ' ' +  taskData4[6]}}</div>
                            <div>{{taskData4[9] + ' ' +  taskData4[10]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>