<!DOCTYPE html>
<html lang="en">
    <head>
        <!---------------------Division de Pantalla Lado Izquierdo------------------------------->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
        <title>Monitoreo Siebel izzi</title>
    </head>
    <body>
        <!--------------------------------Contenedor del Encabezado------------------------------------->
        <div id="header">
                <div id="logo">
                    <img src="{{ url_for('static', filename='izzi-dark.svg')}}" alt="izzi logo dark">
                </div>
                <div id="headTitle">
                    <h1>Monitoreo Siebel izzi</h1>
                </div>
                <div id="blank"></div>
        </div>
        <!------------------------------------Contenedor del Contenido---------------------------------->
        <div id=wrapper>
            <!---------------------Division de Pantalla Lado Izquierdo------------------------------->
            <div id="monitorLeft" >
                <!---------------------Seccion de Monitoreo Servidores------------------------------->
                <div id="servers">
                    <div class="tableTitle">
                        <h2>Servidores</h2>
                    </div>
                    <div id="serverData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Estatus</div>
                            <div>PID</div>
                            <div>Fecha de Inicio</div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>
                                {% if serverData1[2] == 'Ejecutando' %}
                                    {{serverData1[2]}}  <i class="fas fa-circle run"></i>
                                    {% elif serverData1[2] == 'Activado' %}
                                        {{serverData1[2]}}  <i class="fas fa-circle ok"></i>
                                        {% else %}
                                            {{serverData1[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}  
                            </div>                            
                            <div>{{serverData1[1]}}</div>
                            <div>{{serverData1[3]}}</div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{serverData2[0]}}</div>
                            <div>
                                {% if serverData2[2] == 'Ejecutando' %}
                                    {{serverData2[2]}}  <i class="fas fa-circle run"></i>
                                    {% elif serverData2[2] == 'Activado' %}
                                        {{serverData2[2]}}  <i class="fas fa-circle ok"></i>
                                        {% else %}
                                            {{serverData2[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}  
                            </div>                            
                            <div>{{serverData2[1]}}</div>
                            <div>{{serverData2[3]}}</div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{serverData3[0]}}</div>
                            <div>
                                {% if serverData3[2] == 'Ejecutando' %}
                                    {{serverData3[2]}}  <i class="fas fa-circle run"></i>
                                    {% elif serverData3[2] == 'Activado' %}
                                        {{serverData3[2]}}  <i class="fas fa-circle ok"></i>
                                        {% else %}
                                            {{serverData3[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}  
                            </div>                            
                            <div>{{serverData3[1]}}</div>
                            <div>{{serverData3[3]}}</div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                    </div>
                </div>
                <!---------------------Seccion de Monitoreo de Componentes--------------------------->
                <div id="components">
                    <div class="tableTitle">
                        <h2>Componentes</h2>
                    </div>
                    <div id="componentData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>Estatus</div>
                            <div>Current Tasks</div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData1[0]}}</div>
                            <div>{{componentData1[1]}}</div>
                            <div>
                                {% if componentData1[2] == 'Ejecutando' %}
                                    {{componentData1[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData1[2] == 'Activado' %}
                                            {{componentData1[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData1[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData1[3]|int <= componentData1[4]|int * 0.50 %}  
                                    {{componentData1[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData1[3]|int < componentData1[4]|int * 0.75 %}
                                        {{componentData1[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData1[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div> 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData2[0]}}</div>
                            <div>{{componentData2[1]}}</div>
                            <div>
                                {% if componentData2[2] == 'Ejecutando' %}
                                    {{componentData2[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData2[2] == 'Activado' %}
                                            {{componentData2[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData2[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData2[3]|int <= componentData2[4]|int * 0.50 %}  
                                    {{componentData2[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData2[3]|int < componentData2[4]|int * 0.75 %}
                                        {{componentData2[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData2[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div> 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData3[0]}}</div>
                            <div>{{componentData3[1]}}</div>
                            <div>
                                {% if componentData3[2] == 'Ejecutando' %}
                                    {{componentData3[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData3[2] == 'Activado' %}
                                            {{componentData3[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData3[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData3[3]|int <= componentData3[4]|int * 0.50 %}  
                                    {{componentData3[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData3[3]|int < componentData3[4]|int * 0.75 %}
                                        {{componentData3[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData3[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData4[0]}}</div>
                            <div>{{componentData4[1]}}</div>
                            <div>
                                {% if componentData4[2] == 'Ejecutando' %}
                                    {{componentData4[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData4[2] == 'Activado' %}
                                            {{componentData4[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData4[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData4[3]|int <= componentData4[4]|int * 0.50 %}  
                                    {{componentData4[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData4[3]|int < componentData4[4]|int * 0.75 %}
                                        {{componentData4[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData4[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData5[0]}}</div>
                            <div>{{componentData5[1]}}</div>
                            <div>
                                {% if componentData5[2] == 'Ejecutando' %}
                                    {{componentData5[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData5[2] == 'Activado' %}
                                            {{componentData5[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData5[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData5[3]|int <= componentData5[4]|int * 0.50 %}  
                                    {{componentData5[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData5[3]|int < componentData5[4]|int * 0.75 %}
                                        {{componentData5[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData5[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData6[0]}}</div>
                            <div>{{componentData6[1]}}</div>
                            <div>
                                {% if componentData6[2] == 'Ejecutando' %}
                                    {{componentData6[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData6[2] == 'Activado' %}
                                            {{componentData6[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData6[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData6[3]|int <= componentData6[4]|int * 0.50 %}  
                                    {{componentData6[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData6[3]|int < componentData6[4]|int * 0.75 %}
                                        {{componentData6[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData6[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData7[0]}}</div>
                            <div>{{componentData7[1]}}</div>
                            <div>
                                {% if componentData7[2] == 'Ejecutando' %}
                                    {{componentData7[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData7[2] == 'Activado' %}
                                            {{componentData7[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData7[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData7[3]|int <= componentData7[4]|int * 0.50 %}  
                                    {{componentData7[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData7[3]|int < componentData7[4]|int * 0.75 %}
                                        {{componentData7[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData7[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData8[0]}}</div>
                            <div>{{componentData8[1]}}</div>
                            <div>
                                {% if componentData8[2] == 'Ejecutando' %}
                                    {{componentData8[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData8[2] == 'Activado' %}
                                            {{componentData8[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData8[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData8[3]|int <= componentData8[4]|int * 0.50 %}  
                                    {{componentData8[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData8[3]|int < componentData8[4]|int * 0.75 %}
                                        {{componentData8[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData8[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{componentData9[0]}}</div>
                            <div>{{componentData9[1]}}</div>
                            <div>
                                {% if componentData9[2] == 'Ejecutando' %}
                                    {{componentData9[2]}}  <i class="fas fa-circle run"></i>
                                        {% elif componentData9[2] == 'Activado' %}
                                            {{componentData9[2]}}  <i class="fas fa-circle ok"></i>
                                            {% else %}
                                                {{componentData9[2]}}  <i class="fas fa-circle error"></i>
                                {% endif %}
                            </div>
                            <div>
                                {% if componentData9[3]|int <= componentData9[4]|int * 0.50 %}  
                                    {{componentData9[3]}}  <i class="fas fa-circle run"></i>
                                    {% elif componentData9[3]|int < componentData9[4]|int * 0.75 %}
                                        {{componentData9[3]}}  <i class="fas fa-circle warn"></i>
                                        {% else %}
                                            {{componentData9[3]}}  <i class="fas fa-circle error"></i>
                                {% endif %}            
                            </div>
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                    </div>
                </div>
            </div>    
            <!---------------------Division de Pantalla Lado Derecho------------------------------->
            <div id="monitorRight">
                <!---------------------Seccion de monitoreo de Tareas------------------------------->
                <div id="Tasks">
                    <div class="tableTitle">
                        <h2>Tareas</h2>
                    </div>
                    <div id="taskData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>TaskID</div>
                            <div>PID</div>
                            <div>Estatus</div>   
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData1[0]}}</div>
                            <div>{{taskData1[1]}}</div>
                            <div>{{taskData1[2]}}</div>
                            <div>{{taskData1[3]}}</div>
                            {% if taskData1[4] == 'Finalizado' %}
                                <div>{{taskData1[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData1[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData2[0]}}</div>
                            <div>{{taskData2[1]}}</div>
                            <div>{{taskData2[2]}}</div>
                            <div>{{taskData2[3]}}</div>
                            {% if taskData2[4] == 'Finalizado' %}
                                <div>{{taskData2[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData2[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData3[0]}}</div>
                            <div>{{taskData3[1]}}</div>
                            <div>{{taskData3[2]}}</div>
                            <div>{{taskData3[3]}}</div>
                            {% if taskData3[4] == 'Finalizado' %}
                                <div>{{taskData3[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData3[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData4[0]}}</div>
                            <div>{{taskData4[1]}}</div>
                            <div>{{taskData4[2]}}</div>
                            <div>{{taskData4[3]}}</div>
                            {% if taskData4[4] == 'Finalizado' %}
                                <div>{{taskData4[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData4[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData5[0]}}</div>
                            <div>{{taskData5[1]}}</div>
                            <div>{{taskData5[2]}}</div>
                            <div>{{taskData5[3]}}</div>
                            {% if taskData5[4] == 'Finalizado' %}
                                <div>{{taskData5[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData5[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData6[0]}}</div>
                            <div>{{taskData6[1]}}</div>
                            <div>{{taskData6[2]}}</div>
                            <div>{{taskData6[3]}}</div>
                            {% if taskData6[4] == 'Finalizado' %}
                                <div>{{taskData6[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData6[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData7[0]}}</div>
                            <div>{{taskData7[1]}}</div>
                            <div>{{taskData7[2]}}</div>
                            <div>{{taskData7[3]}}</div>
                            {% if taskData7[4] == 'Finalizado' %}
                                <div>{{taskData7[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData7[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData8[0]}}</div>
                            <div>{{taskData8[1]}}</div>
                            <div>{{taskData8[2]}}</div>
                            <div>{{taskData8[3]}}</div>
                            {% if taskData8[4] == 'Finalizado' %}
                                <div>{{taskData8[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData8[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %}  
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData9[0]}}</div>
                            <div>{{taskData9[1]}}</div>
                            <div>{{taskData9[2]}}</div>
                            <div>{{taskData9[3]}}</div>
                            {% if taskData9[4] == 'Finalizado' %}
                                <div>{{taskData9[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData9[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %}  
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData10[0]}}</div>
                            <div>{{taskData10[1]}}</div>
                            <div>{{taskData10[2]}}</div>
                            <div>{{taskData10[3]}}</div>
                            {% if taskData10[4] == 'Finalizado' %}
                                <div>{{taskData10[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData10[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData11[0]}}</div>
                            <div>{{taskData11[1]}}</div>
                            <div>{{taskData11[2]}}</div>
                            <div>{{taskData11[3]}}</div>
                            {% if taskData11[4] == 'Finalizado' %}
                                <div>{{taskData11[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData11[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData12[0]}}</div>
                            <div>{{taskData12[1]}}</div>
                            <div>{{taskData12[2]}}</div>
                            <div>{{taskData12[3]}}</div>
                            {% if taskData12[4] == 'Finalizado' %}
                                <div>{{taskData12[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData12[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                        <!----------------------- Data ----------------------------------------------->
                        <div class="tableRow">
                            <div>{{taskData13[0]}}</div>
                            <div>{{taskData13[1]}}</div>
                            <div>{{taskData13[2]}}</div>
                            <div>{{taskData13[3]}}</div>
                            {% if taskData13[4] == 'Finalizado' %}
                                <div>{{taskData13[4]}}  <i class="fas fa-circle run"></i></div>
                                {% else %}
                                    <div>{{taskData13[4]}}  <i class="fas fa-circle error"></i></div>
                            {% endif %} 
                        </div>
                        <!----------------------- Data ----------------------------------------------->
                    </div>
                </div>
                <!---------------------Seccion de monitoreo de querys------------------------------->
                
            </div>
            <!---------------------Division de Pantalla Lado Derecho------------------------------->
            <div id="monitorBotom">
                <!---------------------Seccion de Monitoreo de Graficas------------------------------>
                <div id="gauge">
                    <div class="tableTitle">
                        <h2>Sesiones Maximas</h2>
                    </div>
                </div>
                <div id="graphTile">
                    <embed src="{{graph_data|safe}}" type="image/svg+xml" id="graphic">
                </div>
            </div>
        </div>
    </body>
</html>