<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/main.css">
        <title>Monitoreo Siebel izzi</title>
    </head>
    <body>
        <!--Encabezado-->
        <div id="header">
            <div id="logo">
                <img src="../static/izzi-dark.svg" alt=""/>
            </div>
            <div id="headTitle">
                <h1>Monitoreo Siebel izzi</h1>
            </div>
        </div>
        <div id=wrapper>
            <div id="monitorLeft" >
                <div id="servers">
                    <div class="tableTitle">
                        <h2>Servidores</h2>
                    </div>
                    <div id="serverData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Estatus</div>
                            <div>PID</div>
                            <div>Fecha de Inicio</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                    </div>
                </div>
                <div id="components">
                    <div class="tableTitle">
                        <h2>Componentes</h2>
                    </div>
                    <div id="componentData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>Estatus</div>
                            <div>Task ID</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                    </div>
                </div>
                <div id="gauge">
                    <div class="tableTitle">
                        <h2>Sesiones Maximas</h2>
                    </div>
                    <div>
                         <img src="../static/fff.png"/>
                    </div>
                </div>
            </div>
            <div id="monitorRight">
                 <div id="Tasks">
                    <div class="tableTitle">
                        <h2>Tareas</h2>
                    </div>
                    <div id="taskData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>TaskID</div>
                            <div>PID</div>
                            <div>Estatus</div>
                            <div>Fecha</div>
                            <div>Operacion</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>