<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="refresh" content="60">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Monitoreo Siebel izzi</title>
    </head>
    <body>
        <!--Contenedor del encabezado-->
        <div id="header">
                <div id="logo">
                    <img src="{{ url_for('static', filename='izzi-dark.svg')}}" alt="izzi logo dark">
                </div>
                <div id="headTitle">
                    <h1>Monitoreo Siebel izzi</h1>
                </div>
        </div>
        <div id=wrapper>
            <div id="monitorLeft" >
                <div id="servers">
                    <div class="tableTitle">
                        <h2>Servidores</h2>
                    </div>
                    <div id="serverData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Estatus</div>
                            <div>PID</div>
                            <div>Fecha de Inicio</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[2]}}</div>
                            <div>{{serverData1[1]}}</div>
                            <div>{{serverData1[3]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData2[0]}}</div>
                            <div>{{serverData2[2]}}</div>
                            <div>{{serverData2[1]}}</div>
                            <div>{{serverData2[3]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData3[0]}}</div>
                            <div>{{serverData3[2]}}</div>
                            <div>{{serverData3[1]}}</div>
                            <div>{{serverData3[3]}}</div>
                        </div>                    
                    </div>
                </div>
                <div id="components">
                    <div class="tableTitle">
                        <h2>Componentes</h2>
                    </div>
                    <div id="componentData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>Estatus</div>
                            <div>Task ID</div>
                        </div>
                        <div class="tableRow">
                            <div>{{componentData1[0]}}</div>
                            <div>{{componentData1[1]}}</div>
                            <div>{{componentData1[6]}}</div>
                            <div>{{componentData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                    </div>
                </div>
                <div id="gauge">
                    <div class="tableTitle">
                        <h2>Sesiones Maximas</h2>
                    </div>
                    <div>
                        <embed src="{{graph2_data|safe}}" type="image/svg+xml" style="max-width: 400px;">
                    </div>
                </div>
            </div>
            <div id="monitorRight">
                 <div id="Tasks">
                    <div class="tableTitle">
                        <h2>Tareas</h2>
                    </div>
                    <div id="taskData">
                        <div class="tableHeaders">
                            <div>Servidor</div>
                            <div>Componente</div>
                            <div>TaskID</div>
                            <div>PID</div>
                            <div>Estatus</div>
                            <div>Fecha</div>
                            <div>Operacion</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                       <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                        <div class="tableRow">
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                            <div>{{serverData1[0]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>